<footer class="site-footer">
  <div class="container">
    <div class="footer-author">
      <div class="author-avatar">{{ site.author.initials }}</div>
      <div class="author-info">
        <strong>{{ site.author.name }}</strong>
        <p>{{ site.author.bio }}</p>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2026 Pascal Gagnon</span>
      <span>Lac-Saint-Jean, Québec</span>
    </div>
  </div>
</footer>
